*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    
}

html,body{
    min-height: 100%;
}
body{
    background: #F8FDFF;
    background-repeat: no-repeat;
}
p{
    margin: 16px auto;
    line-height: 1.5em;
}


/* Layout and Nav*/
.layout{
    max-width: 1200px;
    margin:90px 90px;
}
nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:40px auto;
    color:blue;
}
nav .links{
    display: inline-block;
    text-align: right;
    color:blue;
}
nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom:3px solid transparent ;
}
nav a:hover{
    border-color: white;
}
footer p{
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}

.care{
    color:orangered
}