.service{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: navy;
}

.serviceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:8px
}

.part{width: 150px;
    height: 150px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

/* ******************** 



*/

